body {
  font : 14px "Century Gothic", Futura, sans-serif;
  margin : 20px;
  background-color : black;
  color : #e5e500;
}

ol, ul {
  padding-left: 30px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.slide-labels {
  font-size : 11px;
}

label.slide-labels {
  display : inline-block;;
}

label.min {
  text-align : left;
  width : 50px;
}

label.mid {
  text-align : center;
  width : 110px;
}

label.max {
  text-align: right;
  width: 50px;
}

label.slide-labels-header {
  display : inline-block;
  font-size : 13px;
}
